.gallery_small_banner {
  position: relative;
  display: flex;
  padding: 0px 3.5rem;
  flex-direction: column;
  justify-content: center;
  height: 38rem;
  text-align: center;
  gap: 1.5rem;
  color: #fefefe;

  &_description {
    width: 39.375rem;
    color: #fefefe;
    text-align: center;
  }
  &_subtitle {
    color: #fefefe;
    text-align: center;
  }
  &_title {
    color: #fefefe;
    text-align: center;
  }
  &_overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.gallery_small_image {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -2;
  filter: saturate(1.05) contrast(1.05);
}
