.navMenu {
  display: flex;
  flex-direction: row;

  ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .linkActive {
    text-decoration: none;
    color: #222;
    font-weight: 500;
    transition: color 0.2s;
  }

  a {
    text-decoration: none;
    color: #a4a4a4;
    font-weight: 500;
    transition: color 0.2s;

    &:hover {
      color: #222;
    }
  }
}
