@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

.navTypo {
  color: #070c11;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-size: 13.284px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.911px; /* 180% */
  text-transform: uppercase;
}
