.banner {
  width: 100%;
  background: linear-gradient(0deg, #fff 0%, #aebfe4 100%);
  height: 45.25rem;
  display: flex;
  position: relative;
}

.home_banner {
  position: relative;
  display: flex;
  padding: 0px 3.5rem;
  flex-direction: column;
  justify-content: center;
  height: 25rem;
  gap: 1.5rem;
  color: #fefefe;

  &_description {
    width: 39.375rem;
    color: #fefefe;
  }
  &_subtitle {
    color: #fefefe;
  }
  &_title {
    color: #fefefe;
  }

  &_button {
    display: flex;
    padding: 12px 24px;
    align-items: flex-start;
    gap: 24px;
    background: #16336d;
  }
  &_overlay {
    display: flex;
    flex-direction: column;
  }
}

.home_banner_image {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -2;
  filter: saturate(1.05) contrast(1.05);
}
