.banner {
  width: 100%;
  background: linear-gradient(0deg, #fff 0%, #aebfe4 100%);
  height: 45.25rem;
  display: flex;
  position: relative;
}

.home_banner {
  display: flex;
  width: 42.125rem;
  padding: 0px 0px 3.5rem 3.5rem;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 1.5rem;

  &_description {
    width: 30.375rem;
  }

  &_button {
    display: flex;
    padding: 12px 24px;
    align-items: flex-start;
    gap: 24px;
    background: #16336d;
  }
}

.home_banner_image {
  width: 60rem;
  flex-shrink: 0;
  position: absolute;
  right: 0rem;
  bottom: 1rem;
}
